
#jumbotron {
  background-color: #d4d4dc;
  text-align: center;
  color: #3d3d3f;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;

}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav>i {
    padding: 1rem;
    font-size: 2em;
  }
  nav>ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }
  nav>ul>li {
    padding: 0.5rem;
    list-style-type: none;
  }
}
@media (max-width: 550px) {
  nav>.fa-bars {
    display: none;
  }
  .hidden--mobile {
    display: none;
  }
}
@media (min-width: 550px) {
  nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
  nav>ul>li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }
}

#home-content {
  background-color: #d4d4dc;
  text-align: center;
  padding-bottom: 20px;
  color: #3d3d3f;
  margin-top: -20px;
}

body {
  background-color: #d4d4dc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
  background: #d4d4dc;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 15px;
}

.overlay1 {
display: flex;
justify-content: center;
height: 700px;
width: 100%;
background-image: url("https://images.unsplash.com/photo-1628999740821-cbec21f7f592?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3500&q=80");
background-size: 100%;
border-radius: 15px;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: -1;
}

#h2-1 {
  margin-top: 50px;
}

#introImage {
  background-size: cover;
}

#aboutus {
  background-color: #d4d4dc;
  text-align: center;
}

#parts1 {
  text-align: center;
}

/* Start of Model Page */

#vehicle1 {
  text-align: center;
}

/* Oil Button */
.brakes {
    background-color: transparent
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .brakes :hover,
  .brakes :active {
    outline: 0;
  }

  .brakes:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .brakes:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }

  .brakes:hover:before {
    background-color: #6DCFF6;
  }

  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }

  .brakes {
    justify-content:
  }
  }

#pm{
  padding-top: 30px;
  padding-bottom: 10px;
}

  /* Oil Button */
.Oil {
  background-color: transparent
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Oil :hover,
.Oil :active {
  outline: 0;
}

.Oil:hover {
  background-color: transparent;
  cursor: pointer;
}

.Oil:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.Oil:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }

.Oil {
  justify-content:
}
}

/* Brake Button */
.brakes {
    background-color: transparent
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .brakes :hover,
  .brakes :active {
    outline: 0;
  }

  .brakes:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .brakes:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }

  .brakes:hover:before {
    background-color: #6DCFF6;
  }

  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }

  .brakes {
    justify-content:
  }
  }

  /* Brake Button */
.brakes {
    background-color: transparent
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .brakes :hover,
  .brakes :active {
    outline: 0;
  }

  .brakes:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .brakes:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }

  .brakes:hover:before {
    background-color: #6DCFF6;
  }

  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }

  .Oil {
    justify-content:
  }
  }

  /* Coolant Button */
.Coolant {
  background-color: transparent
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Coolant :hover,
.Coolant :active {
  outline: 0;
}

.Coolant:hover {
  background-color: transparent;
  cursor: pointer;
}

.Coolant:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.Coolant:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }

.Coolant {
  justify-content:
}
}

/* Batteries Button */
.Battery {
  background-color: transparent
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Battery :hover,
.Battery :active {
  outline: 0;
}

.Battery:hover {
  background-color: transparent;
  cursor: pointer;
}

.Battery:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.Battery:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }

.Battery {
  justify-content:
}
}

/* Spark Plug Button */
.Spark {
  background-color: transparent
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Spark :hover,
.Spark :active {
  outline: 0;
}

.Spark:hover {
  background-color: transparent;
  cursor: pointer;
}

.Spark:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.Spark:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }

.Spark {
  justify-content:
}
}
