
#jumbotron {
  background-color: #d4d4dc;
  text-align: center;
  color: #3d3d3f;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav>i {
    padding: 1rem;
    font-size: 2em;
  }
  nav>ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }
  nav>ul>li {
    padding: 0.5rem;
    list-style-type: none;
  }
}
@media (max-width: 550px) {
  nav>.fa-bars {
    display: none;
  }
  .hidden--mobile {
    display: none;
  }
}
@media (min-width: 550px) {
  nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
  nav>ul>li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }
}

#home-content {
  background-color: #d4d4dc;
  text-align: center;
  padding-bottom: 20px;
  color: #3d3d3f;
  margin-top: -20px;
}

body {
  background-color: #d4d4dc;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  background: #d4d4dc;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 15px;
}

.overlay1 {
display: flex;
justify-content: center;
height: 700px;
width: 100%;
background-image: url("https://images.unsplash.com/photo-1628999740821-cbec21f7f592?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3500&q=80");
background-size: 100%;
border-radius: 15px;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: -1;
}

#h2-1 {
  margin-top: 50px;
}

#introImage {
  background-size: cover;
}

#aboutus {
  background-color: #d4d4dc;
  text-align: center;
}

#parts1 {
  text-align: center;
}